<div class="container py-5">

  <div class="text-center mb-5">
    <h1>Prairie Seed Co.</h1>

    <p class="lead">
      Quality vegetable, fruit and flower seeds for Manitoba gardeners.
    </p>

    <%= link_to "Browse Products",
        products_path,
        class: "btn btn-success btn-lg" %>
  </div>

  <h2 class="mb-4">Featured Products</h2>

  <div class="row">

    <% @products.each do |product| %>

      <div class="col-md-4 mb-4">

        <div class="card h-100">

          <img src="<%= product.image_url %>"
               class="card-img-top">

          <div class="card-body">

            <h5><%= product.name %></h5>

            <p><%= product.description %></p>

            <h4>$<%= product.price %></h4>

          </div>

        </div>

      </div>

    <% end %>

  </div>

</div>