<div class="container py-5">

<h1>Products</h1>

<div class="row">

<% @products.each do |product| %>

<div class="col-md-4 mb-4">

<div class="card h-100">

<% if product.image.attached? %>

  <%= image_tag product.image,
                class: "card-img-top",
                style: "height:250px; object-fit:cover;" %>

<% else %>

  <%= image_tag "placeholder.png",
                class: "card-img-top" %>

<% end %>

<div class="card-body">

<h5>
<%= link_to product.name,
category_product_path(product.category, product) %>
</h5>

<p>$<%= product.price %></p>
<div class="d-flex justify-content-center mt-4">
  <%= paginate @products %>
</div>
</div>

</div>

</div>

<% end %>

</div>

</div>