<div class="container py-5">

  <h1>Products</h1>

  <%= form_with url: products_path, method: :get, local: true, class: "mb-4" do |form| %>

    <div class="input-group">

      <%= form.text_field :search,
                          value: params[:search],
                          placeholder: "Search products...",
                          class: "form-control" %>

      <%= form.submit "Search",
                      class: "btn btn-primary" %>

    </div>

  <% end %>


  <% if @products.any? %>

    <table class="table table-striped">

      <thead>

        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Category</th>
          <th>Price</th>
          <th>Stock</th>
        </tr>

      </thead>


      <tbody>

        <% @products.each do |product| %>

          <tr>

            <td>
              <%= product.name %>
            </td>


            <td>

              <% if product.image.attached? %>

                <%= image_tag product.image,
                              width: 75,
                              class: "rounded" %>

              <% else %>

                No Image

              <% end %>

            </td>


            <td>
              <%= product.category.name %>
            </td>


            <td>
              $<%= product.price %>
            </td>


            <td>
              <%= product.stock_quantity %>
            </td>


          </tr>

        <% end %>

      </tbody>

    </table>
<h3 class="mt-4">Planting Information</h3>

<table class="table table-bordered">

<tr>
  <th>Planting Depth</th>
  <td><%= @product.planting_depth %></td>
</tr>

<tr>
  <th>Row Spacing</th>
  <td><%= @product.row_spacing %></td>
</tr>

<tr>
  <th>Plant Spacing</th>
  <td><%= @product.plant_spacing %></td>
</tr>

<tr>
  <th>Sun Requirements</th>
  <td><%= @product.sun_requirements %></td>
</tr>

<tr>
  <th>Days to Germination</th>
  <td><%= @product.days_to_germination %></td>
</tr>

</table>

    <%= paginate @products %>


  <% else %>

    <div class="alert alert-warning">
      No products found.
    </div>

  <% end %>

</div>